<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
		<property name="connection.driver_class">org.postgresql.Driver</property>
		<property name="connection.url">jdbc:postgresql://localhost/controle_passagem</property>
		<property name="connection.username">postgres</property>
		<property name="connection.password">postgres</property>

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>

		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>

		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>

		<!-- Drop and re-create the tables of schema on startup -->
		<property name="hbm2ddl.auto">update</property>

		<!-- C3P0 -->
		<property name="hibernate.c3p0.min_size">5</property> <!-- Minimum number of JDBC connections in the pool. Hibernate default: 1 -->
		<property name="hibernate.c3p0.max_size">20</property> <!-- Maximum number of JDBC connections in the pool. Hibernate default: 100 -->
		<property name="hibernate.c3p0.timeout">300</property> <!-- When an idle connection is removed from the pool (in second). Hibernate default: 0, never expire. -->
		<property name="hibernate.c3p0.max_statements">50</property> <!-- Number of prepared statements will be cached. Increase performance. Hibernate default: 0 , caching is disable. -->
		<property name="hibernate.c3p0.idle_test_period">3000</property> <!-- Idle time in seconds before a connection is automatically validated. Hibernate default: 0 -->

		<mapping class="br.edu.fa7.controle_passagem.model.CompanhiaAerea" />
		<mapping class="br.edu.fa7.controle_passagem.model.Aviao" />
		<mapping class="br.edu.fa7.controle_passagem.model.Assento" />
		<mapping class="br.edu.fa7.controle_passagem.model.Local" />
		<mapping class="br.edu.fa7.controle_passagem.model.Pessoa" />
		<mapping class="br.edu.fa7.controle_passagem.model.Piloto" />
		<mapping class="br.edu.fa7.controle_passagem.model.Funcionario" />
		<mapping class="br.edu.fa7.controle_passagem.model.Lanche" />
		<mapping class="br.edu.fa7.controle_passagem.model.Voo" />
		<mapping class="br.edu.fa7.controle_passagem.model.Passagem" />
	</session-factory>
</hibernate-configuration>